<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row class="barra-principal">
        <img src="/assets/img/logo.png" alt="Logo">

        <span class="nav-spacer"></span>
        <span class="nav-text">Inicio</span>
        <span class="nav-text">Oficina ARL Sura</span>
        <span class="nav-text">Contáctenos</span>
        <span class="nav-text">Solicitud de clave</span>
      </mat-toolbar-row>
      <mat-toolbar-row class="sub-barra">
        <span>ARL</span>
      </mat-toolbar-row>

    </mat-toolbar>
    <div class="container">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
