@font-face {
  font-family: 'FSJoey-Regular';
  src: url('/assets/font/FSJoey/FSJoey-Regular.ttf');
}

@font-face {
  font-family: 'FSJoey-Light';
  src: url('/assets/font/FSJoey/FSJoey-Light.ttf');
}

@font-face {
  font-family: 'FSJoey-Heavy';
  src: url('/assets/font/FSJoey/FSJoey-Heavy.ttf');
}

@font-face {
  font-family: 'FSJoey-Bold';
  src: url('/assets/font/FSJoey/FSJoey-Bold.ttf');
}

@font-face {
  font-family: 'FSJoey-Medium';
  src: url('/assets/font/FSJoey/FSJoey-Medium.ttf');
}
