$sura-azul: #0033a0;
$sura-verde: #78be20;
$sura-blanco: #fff;
$sura-gris: #808285;
$sura-gris2: #f7f7f7;

.background-sura-azul {
  background-color: $sura-azul !important;
}

.color-sura-azul {
  color: $sura-azul !important;
}

.background-sura-verde {
  background-color: $sura-verde !important;
}

.color-sura-verde {
  color: $sura-verde !important;
}

.background-sura-blanco {
  background-color: $sura-blanco !important;
}

.color-sura-blanco {
  color: $sura-blanco !important;
}

.background-sura-gris {
  background-color: $sura-gris !important;
}

.color-sura-gris {
  color: $sura-gris !important;
}

.background-sura-gris2 {
  background-color: $sura-gris2 !important;
}

.color-sura-gris2 {
  color: $sura-gris2 !important;
}
